<?xml version="1.0"?>
<launch>
	<arg name="laser_enabled" default="true" />

	<include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
    	<!-- <arg name="world_name" value="$(find husky_highlevel_controller)/worlds/singlePillar.world"/> -->
    	<arg name="laser_enabled" value="$(arg laser_enabled)"/>
  	</include>

  	
	<node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" />

	<node name="las_scan" pkg = "husky_high_level_controller" type = "scan.py" output="screen">
		<!-- <rosparam command="load"
			file="$(find husky_high_level_controller)/config/scan.yaml" /> -->
		</node>
</launch>






<!-- <?xml version="1.0"?>
<launch>
	<include file="$(find husky_highlevel_controller)/worlds/singlePillar.world">
		<arg name="world_name" value="/usr/share/gazebo-7/worlds/robocup14_spl_field.world"/>
	</include>
	<node name="teleop" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" />
	<node name="scan" pkg = "husky_high_level_controller" type = "scan.py" output="screen">
		<rosparam command="load"
			file="$(find husky_high_level_controller)/config/scan.yaml" />
		</node>
</launch> -->
